.advantages {
  position: relative;
}

.advantages__wrapper {
  .padding-mobile();
  padding-top: 35px;
  box-sizing: border-box;
}

.advantages__title {
  .h2();
  color: @black;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item {
  list-style: none;
  padding-top: 55px;
  margin-top: 29px;
  background-repeat: no-repeat;
  background-position-x: 24px;

  &--ecology {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--photo {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--support {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present {
    background-image: url("../img/icon-feature-gift.svg");
  }
}

.advantages__description {
  .fs-17();
  .f-bold();
  color: @black;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    .padding-tablet();
  }

  .advantages__wrapper {
    padding: 0;
    /*max-width: 700px;*/
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 50%;
    flex-grow: 1;
    text-align: left;

    &--ecology {
      order: 1;
    }

    &--price {
      order: 3;
    }

    &--photo {
      order: 5;
    }

    &--handmade {
      order: 2;
    }

    &--support {
      order: 4;
    }

    &--present {
      order: 6;
    }
  }

  .advantages__description {
    max-width: 295px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    max-width: 700px;
  }
}
