.button {
  text-align: center;
  background-color: @white;
  display: block;
  text-transform: uppercase;
  height: 52px;
  padding: 15px 0;
  font-size: 17px;
  line-height: 17px;
  border: 2px solid @gray;
  color: @gray;
  box-sizing: border-box;
  text-decoration: none;
  .f-bold();

  &--green {
    border: 2px solid @light-green;
    background-color: @light-green;
    color: @white;
  }

  &--green:hover {
    cursor: pointer;
    background-color: @white;
    color: @light-green;
  }

  &:hover {
    cursor: pointer;
    color: @white;
    background-color: @gray;
  }

  &:focus {
    cursor: pointer;
    color: lighten(@black, 49%);
    background-color: @gray;
  }
}
