.catalog {
  /*.padding-mobile();*/
}

.catalog__wrapper {
  .padding-mobile();
  box-sizing: border-box;
}

.catalog__list {
  padding: 0;
  margin: 0;
}

.catalog__item {
  list-style: none;
  margin-bottom: 30px;
  transition: 0.3s box-shadow;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.10);
  }

  &:focus {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10);
  }
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    .padding-tablet();
    /*padding: 0;*/
  }

  .catalog__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
  }

  .item__details-link--img {
    width: 50%;
  }

  .item__wrapper {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    display: flex;
    justify-content: space-between;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
    width: 315px;
  }

  .item__details-link--img {
    width: 100%;
  }

  .item__wrapper {
    width: 100%;
    box-sizing: border-box;
  }
}
