.contacts {
  margin-top: 60px;
}

.contacts__title {
  .h2();
  color: @black;
  .padding-mobile();
  margin-bottom: 40px;
}

.contacts__list {
  display: table;
  .padding-mobile();
  color: @gray;
}

.contacts__type {
  vertical-align: top;
  width: 77px;
  font-size: 15px;
  line-height: 30px;
}

.contacts__value {
  font-size: 15px;
  line-height: 30px;
}

.contacts__email {
  color: @gray;
  text-decoration: none;
  border-bottom: 1px solid @light-green;
  height: 30px;
  display: block;

  &:hover {
    color: @email-hover;
    border-bottom: 1px solid @email-hover;
    cursor: pointer;
  }

  &:focus {
    opacity: 0.3;
  }
}

.contacts__address {
  margin: 0;
}

.contacts__map {
  font-size: 0;
  position: relative;
  margin: 40px 0;

  &::before {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 47%;
    content: "";
    width: 66px;
    height: 100px;
    background: url("../img/icon-map-pin.svg");
  }
}

.contacts__map-pic {
  width: 100%;
}

.contacts__list-row {
  display: block;

  &:first-child {
    padding-bottom: 30px;
  }
}

.contacts__write {
  margin: 0 30px;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .contacts__info {
    max-width: 668px;
    margin: 0 auto;
  }

  .contacts__list {
    display: block;
    padding: 0;
  }

  .contacts__row-group {
    display: flex;
  }

  .contacts__row {
    flex-basis: 50%;
  }

  .contacts__title {
    padding: 0;
  }

  .contacts__write {
    width: 230px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__info {
    flex-basis: 50%;
  }

  .contacts__row-group {
    display: block;
  }

  .contacts__map {
    flex-basis: 50%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .contacts__write {
    align-self: flex-start;
    margin: 0;
    margin-top: -60px;
    margin-left: 0;
  }
}
