.copyright {
  text-align: center;
}

.copyright__description {
  font-size: 19px;
  .f-bold();
  line-height: 20px;
  color: @black;
  padding-bottom: 10px;
  flex-grow: 1;
  align-self: center;
  text-align: left;
}

.copyright__link {
  font-size: 0;
  height: 80px;
  text-decoration: none;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;

  &:hover .copyright__img {
    fill: @green-hover;
  }

  &:focus {
    opacity: 0.3;
  }
}

.copyright__img {
  flex-basis: 26.943px;
  align-self: center;
  height: 34.09px;

  fill: @light-green;
}

@media (min-width: @tablet-width) {
  .copyright__link {
    text-align: right;
    padding: 0 50px;
  }

  .copyright__description {
    padding-bottom: 0;
  }
}
