.feedback {
  margin-top: 34px;
}

.feedback__wrapper {
  .padding-mobile();
  box-sizing: border-box;
}

.feedback__title {
  .h2();
  color: @black;
  margin-bottom: 25px;
  /*outline: 1px orange solid;*/
}

.feedback__slider-wrapper {
  /*outline: 1px orange solid;*/
}

.feedback__item {
  margin: 0;
}

.feedback__text {
  font-size: 15px;
  line-height: 30px;
  color: @gray;
  margin-bottom: 28px;
}

.feedback__write {
  /*outline: 1px orange solid;*/
}

.feedback__author-name {
  font-style: normal;
  .fs-17();
  .f-bold();
  margin-bottom: 5px;
  display: block;
}

.feedback__author-link {
  color: @gray;
  font-size: 17px;
  line-height: 30px;
}

.feedback__navigation {
  border: 1px solid @light-gray;
  margin-top: 27px;
  margin-bottom: 37px;
  position: relative;
  display: flex;
  /*outline: 1px yellow solid;*/

  &::before {
    content: "";
    position: absolute;
    height: 52px;
    width: 2px;
    background: @light-gray;
    left: 50%;
    top: 0;
  }
}

.feedback__arrow {
  flex-basis: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: @white;
  box-sizing: border-box;
  font-size: 0;
  height: 52px;

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .feedback {
    margin-top: 29px;
  }

  .feedback__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    overflow: hidden;

    .padding-tablet();
    box-sizing: border-box;
    background-image: url("../img/review@1x.jpg");
    background-position: -35px top;
    background-repeat: no-repeat;
    background-size: 50%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .feedback__slider-wrapper {
    margin-bottom: 45px;
    position: relative;
    flex-basis: 100%;
    order: 3;
  }

  .feedback__title {
    .fs-43();
    flex-basis: 50%;
    order: 1;
    margin-bottom: 31px;
    margin-top: 80px;
  }

  .feedback__text {
    font-size: 17px;
    margin-bottom: 60px;
  }

  .feedback__write {
    flex-basis: 175px;
    order: 2;
    margin-left: auto;
    margin-top: 82px;
  }

  .feedback__author-link {
    display: block;
  }

  .feedback__author-name {
    font-size: 18px;
  }

  .feedback__navigation {
    width: 175px;
    position: absolute;
    bottom: 0;
    margin: 0;
    right: 0;
    box-sizing: border-box;
    border: none;

    &::before {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    margin-top: 40px;
  }

  .feedback__title {
    .fs-53();
    margin-top: 70px;
  }

  .feedback__write {
    margin-top: 78px;
  }

  .feedback__wrapper {
    padding-left: 225px;
    background-position: 50px top;
    background-size: auto 100%;
  }

  .feedback__text {
    padding-right: 115px;
    margin-bottom: 40px;
  }

  .feedback__author-name {
    font-size: 17px;
  }

  .feedback__navigation {
    width: 175px;
  }

  .feedback__slider-wrapper {
    margin-bottom: 95px;
  }
}
