.hit {
  margin-bottom: 35px;
}

.hit__wrapper {
  .padding-mobile();
  box-sizing: border-box;
}

.hit__title {
  .h2();
  color: @black;
  .padding-top-header-mobile();
}

.hit__subtitle {
  color: @light-green;
  text-transform: uppercase;
  .fs-17();
  .f-bold();
  margin-top: 5px;
  display: block;
}

.hit__description {
  .fs-15();
  padding: 22px 0;
  margin: 0;
  color: @gray;
  /*width: 249px;*/
}

.hit__list {
  font-size: 15px;
  line-height: 40px;
  width: 100%;
  margin-bottom: 25px;
  color: @gray;
}

.hit__row {
  min-height: 40px;
  display: block;
  border-bottom: 1px solid @light-gray;
}

.hit__characteristic {
  width: 90px;
}

.hit__picture {
  margin-bottom: 25px;
  width: 100%;
}

.hit__price {
  .fs-17();
  .f-bold();
  color: @gray;
  display: block;
  text-align: center;
}

.hit__order {
  width: 100%;
  margin-top: 27px;
}

@media (min-width: @tablet-width) {
  .hit {
    .padding-tablet();
  }

  .hit__wrapper {
    padding: 0;
  }

  .hit__title-wrapper {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 57px;
  }

  .hit__subtitle {
    width: 130px;
    text-align: center;
    .fs-17();
    align-self: center;
    outline: yellow solid;
  }

  .hit__title {
    .fs-43();
    padding-top: 0;
    outline: yellow solid;
  }

  .hit__description-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .hit__text-wrapper {
    width: 50%;
    padding-right: 43px;
    padding-bottom: 0;
    box-sizing: border-box;
    padding-bottom: 97px;
  }

  .hit__picture {
    width: 50%;
    margin-bottom: 0;
  }

  .hit__order-wrapper {
    width: 50%;
    padding-right: 43px;
    box-sizing: border-box;
    margin-top: -97px;
  }

  .hit__description {
    padding: 0;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 30px;
  }

}

@media (min-width: @desktop-width) {
  .hit__description-wrapper {
    display: block;
    /*justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;*/
  }

  .hit__title-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 50px;
  }

  .hit__picture {
    display: none;
  }

  .hit__text-wrapper {
    padding-left: 175px;
  }

  .hit__order-wrapper {
    padding-left: 175px;
  }

  .hit__wrapper {
    background: url('../img/triple-set-mobile@1x.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top right;
  }
}
