.hit {
  margin-bottom: 35px;
}

.hit__wrapper {
  .padding-mobile();
  box-sizing: border-box;
}

.hit__title-wrapper {
  outline: 1px red solid;
}

.hit__title {
  .h2();
  color: @black;
  .padding-top-header-mobile();
  outline: 1px orange solid;
}

.hit__subtitle {
  color: @light-green;
  text-transform: uppercase;
  .fs-17();
  .f-bold();
  margin-top: 5px;
  display: block;
  outline: 1px orange solid;
}

.hit__description-wrapper {
  outline: 1px red solid;
}

.hit__text-wrapper {
  outline: 1px orange solid;
}

.hit__description {
  .fs-15();
  color: @gray;
  margin-top: 22px;
  margin-bottom: 20px;
}

.hit__list {
  font-size: 15px;
  line-height: 35px;
  width: 100%;
  margin-bottom: 25px;
  color: @gray;
  border-collapse: collapse;
}

.hit__row {
  min-height: 39px;
  display: block;
  border-bottom: 1px solid @light-gray;
}

.hit__characteristic {
  width: 90px;
}

.hit__picture {
  margin-bottom: 20px;
  width: 100%;
  outline: 1px orange solid;
}

.hit__order-wrapper {
  outline: 1px orange solid;
}

.hit__price {
  .fs-17();
  .f-bold();
  color: @gray;
  display: block;
  text-align: center;
}

.hit__order {
  width: 100%;
  margin-top: 27px;
}

@media (min-width: @tablet-width) {
  .hit {
    /*.padding-tablet();*/
    margin-top: 43px;
  }

  .hit__wrapper {
    .padding-tablet();
  }

  .hit__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .hit__subtitle {
    width: 130px;
    text-align: center;
    .fs-17();
    align-self: center;
  }

  .hit__title {
    .fs-43();
    padding-top: 0;
  }

  .hit__description-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .hit__text-wrapper {
    width: 50%;
    padding-right: 43px;
    box-sizing: border-box;
    padding-bottom: 97px;
    outline: 1px orange solid;
  }

  .hit__picture {
    width: 334px;
    height: 400px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .hit__price {
    font-size: 20px;
    line-height: 24px;
  }

  .hit__order-wrapper {
    width: 50%;
    padding-right: 43px;
    box-sizing: border-box;
    margin-top: -110px;
  }

  .hit__description {
    padding: 0;
    margin-bottom: 35px;
    margin-top: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .hit__list {
    margin-bottom: 57px;
  }

  .hit__order {
    margin-top: 35px;
  }
}

@media (min-width: @desktop-width) {
  .hit {
    margin-top: 40px;
  }

  .hit__title {
    .fs-53();
    padding-left: 10px;
  }

  .hit__subtitle {
    padding: 0 15px;
  }

  .hit__description-wrapper {
    display: block;
    /*justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;*/
  }

  .hit__description {
    margin-bottom: 47px;
  }

  .hit__title-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 80px;
  }

  .hit__picture {
    display: none;
  }

  .hit__text-wrapper {
    padding-left: 175px;
    padding-right: 55px;
    padding-bottom: 163px;
  }

  .hit__order-wrapper {
    padding-left: 175px;
    padding-right: 55px;
  }

  .hit__wrapper {
    background: url("../img/triple-set-desktop@1x.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top right;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/triple-set-desktop@2x.jpg");
    }
  }
}
