.item__details-link {
  text-decoration: none;
  display: block;

  &--img {
    /*height: 195px;*/
  }

  &--name {
    margin-top: 30px;
  }
}

.item__name {
  font-size: 17px;
  line-height: 24px;
  font-family: @sans-bold;
  font-weight: bold;
  color: @black;
}

.item__wrapper {
  border: 1px solid @light-gray;
  padding: 0 25px;
}

.item__description {
  font-size: 13px;
  line-height: 30px;
  color: @gray;
  margin: 0;
  border-bottom: 1px solid @light-gray;
  margin-bottom: 25px;
}

.item__price {
  font-family: @sans-bold;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  display: inline-block;
}

.item__cart-link {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}

.item__picture {
  display: block;
  width: 100%;
}

@media (min-width: @desktop-width) {
  .item__wrapper {
    flex-grow: 1;
  }
}
