.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  position: relative;
  top: 0;
  right: auto;
  left: 0;
  font-size: 0;
  height: 80px;
  width: 80px;
  max-width: 80px;
  flex-basis: 80px;
  border: none;
  background: none;
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__toggle {
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .main-nav--closed .site-list,
  .main-nav--closed .submenu-list {
    display: none;
  }
}
