.page-inner__header {
  background-color: @bck-gray;
  margin-bottom: 32px;
  height: 174px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-inner__wrapper {
  .padding-mobile();
  box-sizing: border-box;
  margin-bottom: 20px;
}

.page-inner__name {
  .h1();
  color: @black;
  /*.padding-mobile();*/
  text-align: center;
}

.page-inner__text {
  /*.padding-mobile();*/
  margin: 0;
  margin-top: -8px;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .page-inner {
    margin-top: -64px;
  }

  .page-inner__wrapper {
    .padding-tablet();
    margin-bottom: 60px;
  }

  .page-inner__text {
    font-size: 17px;
    line-height: 30px;
  }

  .page-inner__header {
    height: 225px;
    margin-bottom: 80px;
  }

  .page-inner__name {
    .fs-43();
    margin-top: 17px;
  }
}

@media (min-width: @desktop-width) {
  .page-inner {
    margin-top: -56px;
  }

  .page-inner__wrapper {
    padding: 0 175px + 50px;
    margin-bottom: 55px;
  }

  .page-inner__header {
    height: 250px;
    margin-bottom: 135px;
  }

  .page-inner__name {
    .fs-53();
    margin-top: 0;
  }
}
