.page-footer {
  .padding-mobile();
  background: @bck-gray;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
  }
}
