.page-footer {
  /*.padding-mobile();*/
  background: @bck-gray;
  outline: 1px red solid;
}

.page-footer__wrapper {
  .padding-mobile();
  box-sizing: border-box;
}

.page-footer__logo {
  display: none;
  outline: 1px orange solid;
}

.page-footer__social {
  outline: 1px orange solid;
}

.page-footer__copyright {
  outline: 1px orange solid;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    /*min-height: 143px;
    .padding-tablet();*/
    padding: 0;

    padding-top: 33px;
    padding-bottom: 20px;
  }

  .page-footer__logo {
    display: block;
    /*width: 33.3%;*/
    flex-basis: 217px;
    text-align: left;
    align-self: center;

    height: 80px;
    display: flex;
    padding-left: 50px;
  }

  .page-footer__social {
    /*width: 33.3%;*/
    flex-basis: 219px;
    text-align: center;
  }

  .page-footer__copyright {
    /*width: 33.3%;*/
    flex-basis: 285px;
    text-align: right;
  }
}
