.page-header {
  /*min-height: 80px;
  padding-top: 20px;
  box-sizing: border-box;*/
  border-bottom: 1px solid @light-gray;
}

.page-header__wrapper {
  /*position: relative;*/
}

.page-header__logo {
  /*height: 80px;*/
  flex-grow: 1;
  outline: 1px yellow solid;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  /*min-width: 90px;*/
  /*position: absolute;
  /*left: 50%;
  margin-left: -45px;
  top: 20px;*/
  margin-left: 50%;
  margin-top: 22px;
}

.page-header__logo--inner {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    border-bottom: none;
  }

  .page-header__wrapper {
    box-sizing: border-box;
  }

  .page-header__logo {
    flex-basis: 217px;
    display: flex;
    padding-left: 50px;
    border-bottom: 1px solid @light-gray;
  }

  .page-header__logo-image {
    position: static;
    margin-left: 0;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    flex-basis: 174px;
    flex-grow: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  .page-header__logo-image {
    display: block;
  }
}
