.site-list {
  flex-basis: 100%;
}

.site-list__item {
  border-top: 1px solid @light-gray;
  box-sizing: border-box;
}

.site-list__link {
  padding: 30px;
  padding-left: 75px;
  min-height: 80px;
  .f-bold();
  .fs-17();
  color: @black;
  text-decoration: none;
  box-sizing: border-box;

  display: block;

  &:hover {
    color: fade(@black, 60%);
  }

  &:active {
    color: fade(@black, 30%);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-basis: auto;
    width: 384px;
    order: 3;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-left: 50px;
    box-sizing: border-box;
    background: @products-gray;

    &--inner {
      background-color: @bck-gray;
    }
  }

  .site-list__item {
    width: 167px;
    padding: 0;
    min-height: 62px;
    border-top: none;
    justify-content: flex-start;
  }

  .site-list__link {
    padding: 13px;
    min-height: 60px;
    min-width: auto;
    padding-left: 0;
    font-size: 15px;
    line-height: 28px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 500px;
    margin-top: 0;
    order: -1;
    background-color: @white;
    flex-grow: 0;
    padding-left: 16px;
    border-bottom: 1px solid @light-gray;
  }

  .site-list__item {
    flex-basis: 218px;

    &--hidden {
      display: flex;
      min-height: 64px;
    }

    &:nth-child(2n-1) {
      border-right: 1px solid @light-gray;
    }
  }

  .site-list__link {
    font-size: 17px;
    min-height: 80px;
    padding: 30px 20px 30px 33px;

    &--hidden {
      .fs-15();
    }
  }
}
