.social {
  /*.padding-mobile();*/
  border-bottom: @social-border;
  /*margin-bottom: 30px;*/
}

.social__list {
  padding: 0;
  margin: 0 auto;
  display: block;
  height: 80px;
  width: 190px;
}

.social__item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  /*width: 60px;
  height: 80px;*/
  position: relative;
}

.social__link {
  font-size: 0;
  display: block;
  width: 60px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: 50%;

  &--instagram {
    background-image: url("../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }
}

@media (min-width: @tablet-width) {
  .social__link {
    width: 55px;
  }
}
