.special-list {
  display: none;
  flex-basis: 100%;
  box-sizing: border-box;
}

.special-list__item {
  box-sizing: border-box;
}

.special-list__link {
  .padding-mobile();
  padding-left: 47px;
  .f-bold();
  .fs-15();
  color: @black;
  text-decoration: none;
  min-width: 260px;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .special-list {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .special-list {
    flex-basis: 490px;
    display: flex;
    order: 3;
    padding: 0 30px;
    background-color: @products-gray;

    &--inner {
      background-color: @bck-gray;
    }
  }

  .special-list__item {
    flex-basis: 50%;
    border-top: none;
  }

  .special-list__link {
    display: block;
    padding: 15px 22px;
    min-width: initial;
  }
}
