.video {
  /*margin: 0 30px;*/
  /*padding-bottom: 30px;
  margin-bottom: 60px;
  border: 1px solid @light-gray;*/
}

.video__wrapper {
  .padding-mobile();
  box-sizing: border-box;
}

.video__card {
  padding-bottom: 30px;
  padding-top: 10px;
  margin-bottom: 60px;
  border: 1px solid @light-gray;
  transition: 0.3s box-shadow;

  &:hover {
    box-shadow: 0 6px 10px 0 fade(@black, 10%);
  }

  &:focus {
    box-shadow: 0 3px 5px 0 fade(@black, 10%);
  }
}

.video__header {
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 33px 5px;
}

.video__title {
  font-size: 17px;
  .f-bold();
  color: @black;
  line-height: 24px;
  width: 140px;
  padding-left: 90px;
  margin-bottom: 23px;
}

.video__content-wrapper {
  position: relative;
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;*/
  order: -1;

  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 78px;
    width: 102px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -39px;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    transition: 0.3s transform;
    cursor: pointer;
  }

  &:hover::before {
    transform: scale(1.2);
    cursor: pointer;
  }

  &:active::before {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.video__content-img {
  width: 260px;
  height: 150px;
}

.video__description {
  font-size: 13px;
  line-height: 24px;
  padding-left: 34px;
  padding-right: 48px;
  margin: 0;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 26px;
  margin-top: 26px;
}

.video__button {
  margin: 0 33px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .video {
    margin-bottom: 63px;
  }

  .video__wrapper {
    .padding-tablet();
  }

  .video__card {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
  }

  .video__content {
    min-height: 450px;
    margin-bottom: 25px;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .video__content-wrapper {
    order: -1;
  }

  .video__content-img {
    width: 668px;
    height: 455px;
  }

  .video__title {
    font-size: 20px;
    width: auto;
    padding-left: 105px;
    margin-bottom: 30px;
  }

  .video__header {
    background-position: 40px 10px;
    margin-top: 20px;
  }

  .video__description {
    padding: 0 40px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 36px;
    margin-top: 0;
  }

  .video__button {
    margin: 0 40px;
  }
}

@media (min-width: @desktop-width) {
  .video__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 455px;
    height: 455px;
    padding-bottom: 0;
    margin-bottom: 108px;
  }

  .video__content-wrapper {
    width: 682px;
    flex-basis: 455px;
    margin-right: 78px;
  }

  .video__content-img {
    width: 682px;
    height: 455px;
  }

  .video__header {
    order: 0;
    width: 290px;
    background-position: 0 0;
    padding-top: 35px;
    margin-top: 45px;
  }

  .video__description {
    order: 0;
    align-self: flex-start;
    width: 280px;
    padding: 0;
    margin-bottom: 45px;
  }

  .video__button {
    order: 0;
    flex-basis: 54px;
    max-height: 54px;
    align-self: flex-start;
    width: 230px;
    margin: 0;
  }

  .video__title {
    padding-left: 0;
    padding-right: 100px;
    margin-bottom: 35px;
  }
}
