@sans: "Open Sans", "Tahoma", sans-serif;
@sans-bold: "Open SansBold", "Tahoma", sans-serif;

@white: #ffffff;
@black: rgb(0, 0, 0);

@light-green: #63d1bb;
@dark-green: #56c3b2;
@green-icon: #149080;

@gray: #444444;
@light-gray: #ececec;
@products-gray: #f9f9f9;
@modal-gray: #c6c6c6;

@home-hover: #59d5bc;
@toy-hover: #46c1ae;
@email-hover: #46c1ae;
@academy-logo-hover: #46c1ae;
@green-hover: #46c1ae;
@bck-gray: #f1f1f1;
@social-border: #e5e5e5;

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1250px;
@mobile-width-only: 767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
