@sans: "Open Sans", "Tahoma", sans-serif;
@sans-bold: "Open SansBold", "Tahoma", sans-serif;

@white: #ffffff;
@black: #000000;

@light-green: #63d1bb;
@dark-green: #56c3b2;

@gray: #444444;
@light-gray: #ececec;

@home-hover: #59d5bc;
@toy-hover: #46c1ae;
@email-hover: #46c1ae;
@bck-gray: #f1f1f1;
@social-border: #e5e5e5;

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;
